body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  max-width: fit-content;
  margin: 40px auto;
}

.postList {
  margin: 40px auto;
}

button{
  min-width:20px;
}

.choicebuttons {
  display:flex;

}

h4{
  margin-bottom:1rem;
}

.mycheckbox{
  margin-left:5px;
}